@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand-Regular";
  font-display: swap;
  src: local("Quicksand-Regular");
  src: url("../fonts/Quicksand-Regular.woff2") format("woff2"), url("../fonts/Quicksand-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand-Medium";
  font-weight: 500;
  font-style: normal;
  src: local("Quicksand-Medium"), url("../fonts/Quicksand-Medium.woff2") format("woff2"), url("../fonts/Quicksand-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: local("Roboto-Regular");
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  font-display: swap;
  src: local("Roboto-Medium");
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: local("Roboto-Bold");
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Sevillana-Regular";
  font-display: swap;
  src: local("Sevillana-Regular");
  src: url("../fonts/Sevillana-Regular.woff2") format("woff2"), url("../fonts/Sevillana-Regular.woff ") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: RubikBubbles-Regular;
  font-weight: 400;
  font-style: normal;
  src: local("RubikBubbles-Regular"), url("../fonts/RubikBubbles-Regular.woff2") format("woff2"), url("../fonts/RubikBubbles-Regular.woff ") format("woff");
  font-display: swap;
}
a, body {
  font-family: "Quicksand-Medium", sans-serif;
  font-weight: 500;
}

.blog__item-title, .product-item__price, .categories__link, .info__item-title, .menu__list-link, .product-item--sale .product-item__img-box::before, .video-fashion__link, .top-slider__link {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
}

.footer-top__title {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
}

.promo__clock-item span, .top-slider__title, .menu__list-link--active, .menu__list-link:hover, .title {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}

.product-item--sale .product-item__img-box::before, .video-fashion__link, .top-slider__link {
  background-color: #fe3e57;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 26px;
  box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  box-sizing: border-box;
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  /* scroll-behavior: smooth; */
}

/* Sections
   ========================================================================== */
*,
*::after,
*::before {
  box-sizing: inherit;
}

/**
 * Remove the margin in all browsers.
 */
ul[class],
li[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  max-width: 100%;
  display: block;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  scrollbar-width: 0.5rem;
  scrollbar-color: #131313 #d6d6d6;
}
*::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #fff;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  background: #eee;
}
*::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  border: 0 none #fff;
  background-color: #2d2d2d;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #131313;
}

html {
  height: 100%;
}

body {
  max-width: 1920;
  font-size: 16px;
  line-height: 26px;
  color: #8d8d8d;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.top-container {
  max-width: 1700px;
  margin: 0 auto;
}

a {
  font-size: 16px;
  line-height: 26px;
  color: #8d8d8d;
}

.title {
  text-align: center;
  font-size: 48px;
  line-height: 65px;
  color: #29282d;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.text {
  text-align: center;
  max-width: 570px;
  margin: 0 auto 55px;
}

body.lock {
  overflow: hidden;
}

.header {
  padding: 40px 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
}
.menu__list-item + .menu__list-item {
  padding-left: 35px;
}
.menu__list-link {
  color: #29282d;
  padding: 0 2px 1px;
  transition: all 0.3s;
}
.menu__list-link:hover {
  color: #fe3e57;
  border-bottom: 1px solid #fe3e57;
}
.menu__list-link--active {
  color: #fe3e57;
  border-bottom: 1px solid #fe3e57;
}

.user-nav {
  display: flex;
}
.user-nav__link {
  position: relative;
}
.user-nav__link + .user-nav__link {
  padding-left: 25px;
}
.user-nav__num {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fe3e57;
  top: -10px;
  right: -14px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 20px;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 300ms ease 0ms;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
.footer {
  padding-top: 1.25rem;
  background-color: #f6f6f6;
}

.footer-top {
  padding: 70px 0 40px;
  border-bottom: 1px solid #ececec;
  display: flex;
}
.footer-top__contact {
  width: 250px;
  margin-right: 50px;
}
.footer-top__nav {
  width: 170px;
  margin-right: 30px;
}
.footer-top__item-form {
  max-width: 470px;
}
.footer-top__logo {
  display: block;
  margin-bottom: 33px;
}
.footer-top__adress, .footer-top__email, .footer-top__phone {
  display: block;
  margin-bottom: 14px;
}
.footer-top__social-list {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.footer-top__social-item + .footer-top__social-item {
  padding-left: 18px;
}
.footer-top__social-link {
  transition: all 0.3s;
}
.footer-top__social-link path {
  fill: #8d8d8d;
}
.footer-top__social-link:hover path {
  fill: #fe3e57;
}
.footer-top__title {
  color: #29282d;
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 1;
}
.footer-top__link {
  margin-bottom: 14px;
  display: block;
}
.footer-top__text {
  margin-bottom: 25px;
}
.footer-top__form-input {
  max-width: 320px;
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 12px 10px 12px 15px;
  box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
}
.footer-top__form-input::-moz-placeholder {
  color: #8d8d8d;
  font-size: 16px;
}
.footer-top__form-input:-ms-input-placeholder {
  color: #8d8d8d;
  font-size: 16px;
}
.footer-top__form-input::placeholder {
  color: #8d8d8d;
  font-size: 16px;
}
.footer-top__form-input:invalid {
  border: 1px solid #8d8d8d;
}
.footer-top__form-input:focus {
  color: #fe3e57;
  border: none;
  outline: 2px solid #fe3e57;
  border-radius: 5px;
}
.footer-top__form-btn {
  cursor: pointer;
  border: none;
  background-color: #fe3e57;
  color: #fff;
  text-transform: uppercase;
  padding: 14px 26px;
  transition: all 0.3s;
  box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
}
.footer-top__form-btn:hover {
  transform: scale(1.03);
  color: black;
  border-radius: 5px;
}
.footer-top__form-btn:active {
  background: #e12841;
  transform: scale(0.9);
  border-radius: 5px;
}

.footer-bottom {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.footer-bottom__accept {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom__accept-img {
  display: inline;
  margin-left: 25px;
}

.top-slider,
.slider,
.slider .img {
  position: relative;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  position: relative;
}

.top-slider {
  min-height: 700px;
  overflow: hidden;
}

.slider {
  min-height: 96%;
  max-height: 100%;
}

.slider .imgs {
  display: flex;
  overflow: hidden;
}

.slider .img {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  position: absolute;
  left: 100%;
  padding: 0 0 150px 73px;
  /* animation duration can't be greater than variable interval in JS! */
  /* check JS for other settings */
  -webkit-animation: 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s left;
          animation: 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s left;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-size: cover !important;
  background-position: 50% !important;
}

/* Change images here */
.slider .img:nth-of-type(1) {
  background: url("../images/slider/foto.png");
}

.slider .img:nth-of-type(2) {
  background: url("../images/slider/foto.png");
}

.slider .img:nth-of-type(3) {
  background: url("../images/slider/foto.png");
}

.slider .img:nth-of-type(4) {
  background: url("../images/slider/foto.png");
}

.top-slider__img {
  display: flex;
}

.dots {
  position: absolute;
  bottom: 15px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.dot {
  position: relative;
  width: 10px;
  height: 10px;
  background: #8d8d8d;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
}

.active-dot {
  background: #fe3e57;
  cursor: default;
}
.active-dot::before {
  position: absolute;
  content: "";
  width: 27px;
  height: 27px;
  background-color: transparent;
  border-radius: 100px;
  border: 2px solid #fe3e57;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes leftNext {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@keyframes leftNext {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes leftCurr {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@keyframes leftCurr {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@-webkit-keyframes rightNext {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes rightNext {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes rightCurr {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@keyframes rightCurr {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
.slider {
  max-width: 1920px;
  min-height: 700px;
}

.top-slider {
  min-width: 100vh;
  min-height: 100%;
  background-image: url(../images/top-slider-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #f6f6f6;
}
.top-slider__content {
  padding-left: 175px;
  padding-top: 125px;
}
.top-slider__item {
  display: flex;
  justify-content: start;
  min-height: 100%;
}
.top-slider__title {
  max-width: 670px;
  font-size: 58px;
  line-height: 68px;
  color: #29282d;
  margin-bottom: 35px;
}
.top-slider__text {
  max-width: 470px;
  margin-bottom: 55px;
}
.top-slider__link {
  padding: 12px 26px;
  border: none;
}

.categories-info {
  padding: 120px 0;
  background-image: url("../images/decor/categories-left-bg.png");
  background-position: center left;
  background-repeat: no-repeat;
}
.categories-info__inner {
  background-image: url("../images/decor/categories-right-bg.png");
  background-position: center right;
  background-repeat: no-repeat;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  position: relative;
}
.info::before, .info::after {
  content: "";
  position: absolute;
  z-index: -1;
}
.info::before {
  background-image: url("../images/decor/info-before-bg.svg");
  top: -40px;
  left: -45px;
  width: 120px;
  height: 121px;
}
.info::after {
  background-image: url("../images/decor/info-after-bg.svg");
  width: 65px;
  height: 52px;
  bottom: -23px;
  right: -23px;
}
.info__item {
  padding: 60px 30px;
  width: 370px;
  box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
  background: #fff;
}
.info__item-title {
  margin: 35px 0 10px;
  color: #29282d;
  font-size: 22px;
}

.categories__items {
  display: grid;
  min-height: 635px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
}
.categories__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 35px;
  padding-left: 40px;
}
.categories__item:nth-child(1) {
  grid-row: span 2;
}
.categories__item:nth-child(1) .categories__item-subtitle {
  color: #5800e4;
}
.categories__item:nth-child(1) .categories__link:hover {
  color: #5800e4;
  padding-bottom: 3px;
  border-bottom: 1px solid #5800e4;
}
.categories__item:nth-child(2) {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0;
}
.categories__item:nth-child(2) .categories__item-subtitle {
  color: #fe3e57;
}
.categories__item:nth-child(2) .categories__link:hover {
  color: #fe3e57;
  padding-bottom: 3px;
  border-bottom: 1px solid #fe3e57;
}
.categories__item:nth-child(3) .categories__item-subtitle {
  color: #ffb534;
}
.categories__item:nth-child(3) .categories__link:hover {
  color: #ffb534;
  padding-bottom: 3px;
  border-bottom: 1px solid #ffb534;
}
.categories__item:nth-child(4) .categories__item-subtitle {
  color: #34c3ff;
}
.categories__item:nth-child(4) .categories__link:hover {
  color: #34c3ff;
  padding-bottom: 3px;
  border-bottom: 1px solid #34c3ff;
}
.categories__item-subtitle {
  margin-bottom: 5px;
}
.categories__item-title {
  font-size: 22px;
  color: #29282d;
  margin-bottom: 16px;
}
.categories__link {
  text-transform: uppercase;
  color: #29282d;
  transition: all 0.3s;
}

.video-fashion {
  background-color: #f6f6f6;
  background-image: url("../images/decor/video-pattern-bg.svg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 125px 0;
}
.video-fashion__inner {
  display: flex;
}
.video-fashion__popup {
  margin-right: 55px;
  max-width: 530px;
  width: 100%;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.video-fashion__play {
  cursor: pointer;
}
.video-fashion__content {
  max-width: 570px;
}
.video-fashion__subtitle {
  padding-top: 75px;
  font-size: 22px;
  color: #fe3e57;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.video-fashion__title {
  text-align: left;
}
.video-fashion__text {
  margin-bottom: 55px;
}
.clip {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: rgba(245, 171, 171, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.clip.active {
  visibility: visible;
  opacity: 1;
}

.close {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  filter: invert(1);
  max-width: 32px;
  max-height: 32px;
}

.product {
  padding: 105px 0 120px;
  text-align: center;
}
.product__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px 30px;
}
.product__link {
  text-transform: uppercase;
  color: #29282d;
  display: inline-block;
  border: 1px solid #fe3e57;
  padding: 14px 27px;
  line-height: 1.625;
  margin-top: 55px;
}

.product-item {
  max-width: 370px;
}
.product-item__img-box {
  position: relative;
  height: 370px;
  overflow: hidden;
  margin-bottom: 25px;
}
.product-item__link-box {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  background-color: #fff;
  display: inline-block;
  width: 220px;
  height: 50px;
  margin: 0 auto;
  box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: translateY(300%);
  transition: all 0.3s;
}
.product-item__link--line::before, .product-item__link--line::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 1px;
  height: 30px;
  background-color: #ececec;
  top: 10px;
}
.product-item__link--line::before {
  left: 70px;
}
.product-item__link--line::after {
  right: 70px;
}
.product-item__link {
  display: inherit;
}
.product-item__link path {
  transition: all 0.3s;
}
.product-item__link:hover path {
  fill: #fe3e57;
}
.product-item__images {
  -o-object-fit: cover;
     object-fit: cover;
}
.product-item:hover .product-item__link-box {
  transform: translateY(0);
}
.product-item__title {
  color: #29282d;
  padding: 15px 0 20px;
}
.product-item__price {
  display: flex;
  justify-content: center;
}
.product-item__new-price {
  padding: 0 12px;
  color: #29282d;
}
.product-item__old-price {
  padding: 0 12px;
  text-decoration: line-through;
}
.product-item--sale .product-item__img-box::before {
  content: "SALE";
  position: absolute;
  top: 25px;
  left: 25px;
  line-height: 1;
}

.star__rating {
  display: inline-flex;
  flex-direction: row-reverse;
}
.star__rating-item {
  color: #8d8d8d;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
}
.star__rating-item:hover, .star__rating-item:hover ~ .star__rating-item {
  color: #fe3e57;
}

.star__rating[data-total-value="1"] .star__rating-item:nth-child(n+5),
.star__rating[data-total-value="2"] .star__rating-item:nth-child(n+4),
.star__rating[data-total-value="3"] .star__rating-item:nth-child(n+3),
.star__rating[data-total-value="4"] .star__rating-item:nth-child(n+2),
.star__rating[data-total-value="5"] .star__rating-item:nth-child(n+1) {
  color: #fe3e57;
}

.promo {
  background-image: url("../../images/promo-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 150px 0 160px;
  text-align: center;
}
.promo__inner {
  max-width: 570px;
  width: 100%;
  margin-left: auto;
}
.promo__subtitle {
  color: #fe3e57;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 22px;
}
.promo__clock {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}
.promo__clock-item {
  background-color: #fff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
}
.promo__clock-item span {
  font-size: 48px;
  margin: 10px 0 7px;
  color: #29282d;
  text-align: center;
}
.promo__link {
  text-transform: uppercase;
  color: #29282d;
  display: inline-block;
  border: 1px solid #fe3e57;
  padding: 14px 27px;
  line-height: 1.625;
  margin-top: 55px;
}
.partners {
  padding-top: 75px;
}
.partners__list {
  height: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog {
  padding: 50px 0 160px;
  background-image: url(../../images/blog-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.blog__items {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.blog__items::after {
  content: "";
  position: absolute;
  top: -25px;
  right: -20px;
  width: 126px;
  height: 53px;
  background-image: url(../../images/decor/blog-decor.svg);
  z-index: -1;
}
.blog__item {
  max-width: 370px;
  border: 1px solid #ececec;
  transition: all 0.3s;
}
.blog__item:hover {
  box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
  border: none;
}
.blog__item:hover .blog__item-link {
  color: #fe3e57;
}
.blog__item:hover .blog__item-link::after {
  background-image: url("../../images/icons/arrow-red.svg");
}
.blog__item-imglink {
  display: block;
}
.blog__item-imglink img {
  height: 288px;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog__item-box {
  padding: 30px 40px;
}
.blog__item-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.blog__item-author, .blog__item-date {
  padding-left: 30px;
  position: relative;
}
.blog__item-author::before, .blog__item-date::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 4px;
}
.blog__item-author::before {
  background-image: url("../../images/icons/user-gray.svg");
}
.blog__item-date::before {
  background-image: url("../../images/icons/time.svg");
}
.blog__item-title {
  color: #29282d;
  font-size: 22px;
  margin-bottom: 20px;
}
.blog__item-link {
  position: relative;
  transition: all 0.3s;
}
.blog__item-link::after {
  content: "";
  width: 10px;
  height: 8px;
  background-image: url("../../images/icons/arrow.svg");
  position: absolute;
  top: 7px;
  right: -14px;
}

.text__blog {
  max-width: 580px;
}

.top-container {
  max-width: 1700px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 120px 0 130px;
  text-align: center;
}

.breadcrumbs {
  display: inline-flex;
  justify-content: center;
  padding-left: 25px;
  position: relative;
}
.breadcrumbs::before {
  content: "";
  position: absolute;
  background-image: url("../../images/icons/home-icon.svg");
  width: 16px;
  height: 16px;
  left: 0;
  top: 4px;
}
.breadcrumbs__list {
  display: flex;
}
.breadcrumbs__item a {
  padding-right: 40px;
  position: relative;
}
.breadcrumbs__item {
  color: #727272;
  padding-right: 40px;
  position: relative;
}
.breadcrumbs__item::after {
  content: "";
  position: absolute;
  background-image: url("../../images/icons/arrow-right.svg");
  width: 9px;
  height: 10px;
  left: 15px;
  top: 10px;
}
.breadcrumbs__item:last-child {
  color: #fe3e57;
}
.breadcrumbs__link {
  color: inherit;
}/*# sourceMappingURL=style.css.map */