// =====================================================================================================================
// .header {
//   width: 100%;
//   // .header__container
//   &__container {
//     height: rem($headerHeight);
//     display: flex;
//     align-items: center;
//   }
// }

.header {
  padding: 40px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 35px;
  }
  &__list-link {
    color: $titleColor;
    padding: 0 2px 1px;
    transition: all 0.3s;
    @extend %roboto-400;
    &:hover {
      color: $redColor;
      border-bottom: 1px solid $redColor;
      @extend %roboto-700;
    }
  }
  &__list-link--active {
    @extend %roboto-700;
    color: $redColor;
    border-bottom: 1px solid $redColor;
  }
}

.user-nav {
  display: flex;
  &__link {
    position: relative;
  }
  &__link + .user-nav__link {
    padding-left: 25px;
  }
  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $redColor;
    top: -10px;
    right: -14px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 20px;
  }
}

// .menu__list-item {
//   font-family: $mainFontFamily;
// }

// =====================================================================================================================

// Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 300ms ease 0ms;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
