// =====================================================================================================================
// .header {
//   width: 100%;
//   // .header__container
//   &__container {
//     height: rem($headerHeight);
//     display: flex;
//     align-items: center;
//   }
// }

.header {
  padding: 40px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.menu {
  &__btn {
    display: none;
  }
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 35px;
  }
  &__list-link {
    color: $titleColor;
    padding: 0 2px 1px;
    transition: all 0.3s;
    @extend %roboto-400;
    &:hover {
      color: $redColor;
      border-bottom: 1px solid $redColor;
      @extend %roboto-700;
    }
  }
  &__list-link--active {
    @extend %roboto-700;
    color: $redColor;
    border-bottom: 1px solid $redColor;
  }
}

.user-nav {
  display: flex;
  &__link {
    position: relative;
  }
  &__link + .user-nav__link {
    padding-left: 25px;
  }
  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $redColor;
    top: -10px;
    right: -14px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 20px;
  }
}

// .menu__list-item {
//   font-family: $mainFontFamily;
// }

// =====================================================================================================================

// Burger
/*
.icon-menu {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
*/

@media (max-width: 1200px) {
  .header {
    &__inner {
      padding-right: 10px;
    }
  }
}
@media (max-width: 860px) {
  .menu {
    order: 1;
    margin-left: 40px;
    &__list {
      transform: translateY(-200%);
      position: absolute;
      top: 120px;
      width: 100%;
      left: 0;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      transition: all 0.3s;
      &.menu__list--active {
        transform: translateY(0%);
      }
    }
    &__list-item + .menu__list-item {
      padding-left: 0;
    }
    &__list-item {
      width: 100%;
      padding: 0 15px;
      text-align: center;
    }
    &__list-link {
      padding: 12px 0;
      display: block;
    }
    &__btn {
      width: 30px;
      height: 22px;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0;
      span {
        bottom: 1px;
        width: 100%;
        height: 3px;
        background-color: $titleColor;
        cursor: pointer;
      }
      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $titleColor;
        cursor: pointer;
      }
      &::before {
        // top: calc(50% - rem(1));
        // transform: rotate(-45deg);
        top: 0;
      }
      &::after {
        // bottom: calc(50% - rem(1));
        // transform: rotate(45deg);
        bottom: 0;
      }
    }
  }
  .user-nav {
    margin-left: auto;
  }
}

@media (max-width: 480px) {
  .header {
    &__inner {
      padding-right: 0;
    }
  }
  .menu {
    order: 0;
    &__list {
      top: 140px;
    }
  }
  .user-nav {
    width: 100%;
    margin-top: 30px;
    justify-content: center;
    padding-right: 15px;
  }
}
