.blog-page {
  padding: 120px 0 60px;
  &__item--slider {
    .blog-page__item-box {
      margin-top: -8px;
    }
  }
  &__slider {
    .slick-next,
    .slick-prev {
      width: 40px;
      height: 40px;
      z-index: 5;
      background-color: $redColor;
      border-radius: 50%;
      box-shadow: 0px 7px 20px 0px rgba(254, 168, 168, 0.3);
      path {
        fill: #fff;
      }
    }
    .slick-next {
      right: 40px;
    }
    .slick-prev {
      left: 40px;
    }
  }
  .slick-disabled {
    background-color: #fff;
    box-shadow: 0px 7px 20px 0px rgba(168, 62, 87, 0.3);
    path {
      fill: $redColor;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    width: 770px;
    margin-right: 30px;
  }
  &__aside {
    width: 370px;
  }
  &__item {
    margin-bottom: 60px;
    &.blog-page__item--no-img {
      border-top: 1px solid #ececec;
      box-shadow: 0px 20px 60px 0px rgba(202, 202, 202, 0.35);
    }
  }
  &__item-link {
    display: block;
    color: inherit;
    font-size: 22px;
    @extend %roboto-700;
    line-height: 32px;
  }
  &__img {
    max-width: 770px;
    height: 450px;
    object-fit: cover;
    display: block;
  }
  &__item-box {
    border: 1px solid #ececec;
    border-top: none;
    padding: 40px;
  }
  &__item-title {
    margin-bottom: 20px;
    color: $titleColor;
    transition: all 0.3s;
    &:hover {
      color: $redColor;
    }
  }
  .blog-box {
    justify-content: start;
    &__author {
      margin-right: 30px;
    }
  }
}
.slick-next::before,
.slick-prev::before {
  content: none;
}
.person {
  border: 1px solid #ececec;
  margin-bottom: 40px;
  text-align: center;
  padding: 40px 25px;
  &__img {
    display: inline-block;
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin: 0 auto 35px;
  }
  &__name {
    color: $titleColor;
    font-size: 18px;
    @extend %roboto-700;
  }
  &__position {
    color: $redColor;
    margin-bottom: 25px;
  }
  &__text {
    margin-bottom: 25px;
  }
  &__social-link {
    margin-right: 15px;
    path {
      fill: $mainColor;
      transition: all 0.3s;
    }
    &:hover {
      path {
        fill: $redColor;
      }
    }
  }
}
.latest-post {
  padding: 35px 30px 40px;
  border: 1px solid #ececec;
  margin-bottom: 40px;
  &__title {
    color: $titleColor;
    text-transform: uppercase;
    font-size: 22px;
    @extend %roboto-400;
    margin-bottom: 35px;
  }
  &__item {
    margin-bottom: 20px;
    display: flex;
    & + .latest-post__item {
      border-top: 1px solid #ececec;
      padding-top: 20px;
    }
  }
  &__img-link {
    display: block;
    margin-right: 20px;
    min-width: 80px;
  }
  &__img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  &__title-link {
    font-size: 18px;
    @extend %roboto-400;
    color: $titleColor;
    line-height: 28px;
  }
  &__date {
    padding-left: 26px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 5px;
      background-image: url(../../images/icons/calendar.svg);
      width: 16px;
      height: 16px;
    }
  }
}

@media (max-width: 1200px) {
  .person,
  .latest-post {
    display: none;
  }
  .blog-page {
    .filter-category,
    .filter-popular {
      display: none;
    }
    &__inner {
      flex-direction: column-reverse;
      align-items: center;
    }
    &__content {
      width: 100%;
      margin-right: 0;
    }
    &__aside {
      width: 100%;
    }
    &__img {
      max-width: 100%;
      width: 100%;
    }
    .filter__title {
      text-align: center;
    }
  }
  .filter-search {
    width: 100%;
    &__form {
      width: 100%;
    }
    &__input {
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .blog-page {
    &__item {
      margin-bottom: 20px;
    }
    padding: 40px 0 0;
    &__img {
      height: 270px;
    }
    &__item-box {
      padding: 20px;
    }
    &__slider .slick-next {
      right: 20px;
    }
    &__slider .slick-prev {
      left: 20px;
    }
  }
}
