.header--404-page {
  background-color: $bgCol;
}

.page-404 {
  padding: 110px 0 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    max-width: 570px;
    width: 100%;
  }
  &__title {
    color: #28384f;
    margin-bottom: 40px;
    @extend %roboto-700;
    font-size: 48px;
    line-height: 52px;
  }
  &__text {
    max-width: 470px;
    margin-bottom: 55px;
  }
  &__link {
    background-color: $redColor;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 35px;
    @extend %roboto-400;
    box-shadow: 0px 5px 25px 0px rgba(254, 62, 87, 0.35);
  }
}

@media (max-width: 1200px) {
  .page-404 {
    &__img {
      max-width: 40%;
    }
  }
}

@media (max-width: 860px) {
  .page-404 {
    padding: 60px 0 60px;
    &__img {
      display: none;
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__link {
      text-align: center;
    }
  }
}
