.product-page {
  padding: 120px 0 60px;
  border-bottom: 1px solid #f0f0f0;
}

.product-one {
  &__inner {
    display: flex;
  }
  &__slide {
    width: 730px;
    margin-right: 70px;
  }
  &__content {
    width: 370px;
  }
  &__title {
    margin-bottom: 20px;
    color: $titleColor;
    font-size: 20px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__price {
    font-size: 18px;
    display: flex;
  }
  &__price-new {
    color: $titleColor;
    padding-right: 15px;
  }
  &__price-old {
    text-decoration: line-through;
  }
  &__item-star {
    display: flex;
    span {
      padding-left: 8px;
      color: $titleColor;
      font-size: 22px;
    }
  }
  &__item-text {
    margin-bottom: 30px;
    span {
      display: block;
      color: $titleColor;
      @extend %roboto-400;
      font-size: 18px;
    }
  }
  &__item-btn {
    @extend %btn;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    cursor: pointer;
  }
}

.jq-number__field {
  width: 114px;
  border: 1px solid #f0f0f0;
  box-shadow: none;
  transform: translateY(1px);
}

.jq-number__field input {
  color: $titleColor;
  @extend %quicksand-500;
  text-align: center;
  // padding: 17px 10px;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
}

.jq-number {
  position: relative;
  padding: 0;
}

.jq-number__spin {
  position: absolute;
  cursor: pointer;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.jq-number__spin.minus {
  left: 15px;
}

.jq-number__spin.plus {
  right: 15px;
}

.jq-number__spin::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 12px;
  height: 2px;
  background: $titleColor;
}

.jq-number__spin.plus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  width: 2px;
  height: 12px;
  background: $titleColor;
}

.product-slide {
  display: flex;
  .slick-vertical .slick-slide {
    height: 140px;
    margin-bottom: 30px;
  }
  &__thumb {
    width: 140px;
    margin-right: 30px;
  }
  &__thumb-item {
    margin-bottom: 30px;
    width: 140px;
    height: 140px;
    cursor: pointer;
    img {
      width: 140px;
      height: 140px;
      object-fit: cover;
    }
  }
  &__big {
    width: 560px;
    img {
      width: 560px;
      height: 650px;
      object-fit: cover;
    }
  }
}

.product-filter {
  &__color {
    margin-bottom: 25px;
    label {
      margin-right: 10px;
    }
  }
  &__color-title,
  &__size-title {
    margin-bottom: 5px;
    font-size: 18px;
    color: $titleColor;
    @extend %roboto-400;
  }
  &__color-input {
    @extend %radio-hidden;
    &:checked {
      & + .product-filter__color-checkbox {
        border-color: $redColor;
      }
    }
  }
  &__color-checkbox {
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 1px solid #ccccce;
    position: relative;
    display: inline-block;
    span {
      position: absolute;
      width: 16px;
      height: 16px;
      top: 3px;
      left: 3px;
    }
  }
  &__size {
    margin-bottom: 35px;
    label {
      margin-right: 10px;
      display: inline-block;
    }
  }
  &__size-input {
    @extend %radio-hidden;
    &:checked {
      & + .product-filter__size-checkbox {
        border-color: $redColor;
      }
    }
  }
  &__size-checkbox {
    padding: 4px 12px;
    border: 1px solid #ccccce;
    display: inline-block;
  }
}
.product-filter__size-checkbox {
  cursor: pointer;
}
.product-info {
  &__list {
    margin-bottom: 30px;
  }
  &__item {
    display: flex;
  }
  &__title {
    min-width: 100px;
    color: $titleColor;
  }
  &__link {
    path {
      fill: $mainColor;
    }
    & + .product-info__link {
      margin-left: 15px;
    }
    &:hover {
      path {
        fill: $redColor;
      }
    }
  }
}
