.product-page {
  padding: 120px 0 0;
}

.product-one {
  &__inner {
    display: flex;
  }
  &__slide {
    width: 730px;
    margin-right: 70px;
  }
  &__content {
    width: 370px;
  }
  &__title {
    margin-bottom: 20px;
    color: $titleColor;
    font-size: 20px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__price {
    font-size: 18px;
    display: flex;
  }
  &__price-new {
    color: $titleColor;
    padding-right: 15px;
  }
  &__price-old {
    text-decoration: line-through;
  }
  &__item-star {
    display: flex;
    span {
      padding-left: 8px;
      color: $titleColor;
      font-size: 22px;
    }
  }
  &__item-text {
    margin-bottom: 30px;
    span {
      display: block;
      color: $titleColor;
      @extend %roboto-400;
      font-size: 18px;
    }
  }
  &__item-btn {
    @extend %btn;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    cursor: pointer;
  }
}

.jq-number__field {
  width: 114px;
  border: 1px solid #f0f0f0;
  box-shadow: none;
  transform: translateY(1px);
}

.jq-number__field input {
  color: $titleColor;
  @extend %quicksand-500;
  text-align: center;
  // padding: 17px 10px;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
}

.jq-number {
  position: relative;
  padding: 0;
}

.jq-number__spin {
  position: absolute;
  cursor: pointer;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.jq-number__spin.minus {
  left: 15px;
}

.jq-number__spin.plus {
  right: 15px;
}

.jq-number__spin::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 12px;
  height: 2px;
  background: $titleColor;
}

.jq-number__spin.plus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  width: 2px;
  height: 12px;
  background: $titleColor;
}

.product-slide {
  display: flex;
  .slick-vertical .slick-slide {
    height: 140px;
    margin-bottom: 30px;
  }
  &__thumb {
    width: 140px;
    margin-right: 30px;
  }
  &__thumb-item {
    margin-bottom: 30px;
    width: 140px;
    height: 140px;
    cursor: pointer;
    img {
      width: 140px;
      height: 140px;
      object-fit: cover;
    }
  }
  &__big {
    width: 560px;
    img {
      width: 560px;
      height: 650px;
      object-fit: cover;
    }
  }
}

.product-filter {
  &__color {
    margin-bottom: 25px;
    label {
      margin-right: 10px;
    }
  }
  &__color-title,
  &__size-title {
    margin-bottom: 5px;
    font-size: 18px;
    color: $titleColor;
    @extend %roboto-400;
  }
  &__color-input {
    @extend %radio-hidden;
    &:checked {
      & + .product-filter__color-checkbox {
        border-color: $redColor;
      }
    }
  }
  &__color-checkbox {
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 1px solid #ccccce;
    position: relative;
    display: inline-block;
    span {
      position: absolute;
      width: 16px;
      height: 16px;
      top: 3px;
      left: 3px;
    }
  }
  &__size {
    margin-bottom: 35px;
    label {
      margin-right: 10px;
      display: inline-block;
    }
  }
  &__size-input {
    @extend %radio-hidden;
    &:checked {
      & + .product-filter__size-checkbox {
        border-color: $redColor;
      }
    }
  }
  &__size-checkbox {
    padding: 4px 12px;
    border: 1px solid #ccccce;
    display: inline-block;
  }
}
.product-filter__size-checkbox {
  cursor: pointer;
}
.product-info {
  &__list {
    margin-bottom: 30px;
  }
  &__item {
    display: flex;
  }
  &__title {
    min-width: 100px;
    color: $titleColor;
  }
  &__link {
    path {
      fill: $mainColor;
    }
    & + .product-info__link {
      margin-left: 15px;
    }
    &:hover {
      path {
        fill: $redColor;
      }
    }
  }
}

.product-tabs {
  padding-top: 100px;
  &__top {
    margin-bottom: 40px;
    border-bottom: 1px solid #f0f0f0;
    @extend %roboto-400;
    font-size: 22px;
  }
  &__top-item {
    margin-bottom: 10px;
    display: inline-block;
    & + .product-tabs__top-item {
      margin-left: 55px;
    }
  }
  .product-tabs__top-item.active {
    color: $titleColor;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -11px;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: $redColor;
    }
  }
  &__content-item {
    display: none;
    &.active {
      display: block;
    }
  }
}
.comments {
  margin-bottom: 40px;
  display: flex;
  &__img {
    margin-right: 30px;
    min-width: 71px;
    height: 71px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }
  &__content-top {
    display: flex;
    margin-bottom: 10px;
  }
  &__content-name {
    color: $titleColor;
    margin-right: 13px;
    @extend %roboto-400;
  }
  &__content-date {
    padding-left: 14px;
    border-left: 1px solid $mainColor;
  }
  &__content-star {
    margin-left: auto;
  }
  &__content-text {
    margin-bottom: 10px;
  }
  &__content-reply {
    display: inline-block;
    padding-left: 25px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      width: 15px;
      height: 13px;
      background-image: url(../../images/icons/reply.svg);
    }
  }
}
.comment-form {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 60px;
  &__title {
    color: $titleColor;
    font-size: 22px;
    @extend %roboto-400;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 50px;
      background-color: $redColor;
      bottom: 0;
      left: 0;
    }
  }
  &__rating {
    margin-bottom: 30px;
  }
  &__rating-title {
    color: $titleColor;
    margin-right: 60px;
  }
  &__label {
    margin-right: 25px;
  }
  &__input {
    @extend %radio-hidden;
    &:checked + .comment-form__radio {
      path {
        fill: #ffc35b;
      }
    }
  }
  &__radio {
    cursor: pointer;
    path {
      fill: $mainColor;
    }
  }
  &__box-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }
  &__textarea {
    border: 1px solid #f0f0f0;
    padding: 15px 20px;
    display: block;
    width: 100%;
    height: 225px;
    resize: none;
    margin-bottom: 40px;
  }
  &__btn {
    border: none;
    @extend %btn;
  }
}
.comments-form {
  &__text-input {
    width: 570px;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    border: 1px solid #f0f0f0;
  }
}

.related {
  padding: 50px 0 120px;
  &__title {
    margin-bottom: 50px;
  }
}

.product-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  .product-item__img-box {
    height: auto;
  }
  .product-item__title {
    padding: 5px 0;
  }
}

@media (max-width: 1200px) {
  .product-slide {
    &__thumb {
      display: none;
    }
  }
  .product-one {
    &__slide {
      width: auto;
      margin-right: 0;
    }
  }
}

@media (max-width: 1050px) {
  .product-one {
    &__inner {
      display: block;
    }
    &__content {
      width: 100%;
      margin-top: 30px;
    }
  }
  .product-slide {
    &__big {
      width: 100%;
      img {
        width: auto;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 767px) {
  .product-page {
    padding: 60px 0;
  }
  .product-slide {
    &__big img {
      height: 400px;
    }
  }
  .product-filter {
    &__size label {
      margin-right: 0;
    }
  }
  .product-one {
    &__item-text {
      margin-bottom: 20px;
    }
    &__content {
      margin-top: 20px;
    }
  }
  .product-tabs {
    padding-top: 40px;
  }
  .comment-form {
    &__rating {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
    &__rating-title {
      margin-right: 0;
    }
    &__label {
      margin-right: 0;
    }
    &__box-input {
      display: block;
      margin-bottom: 0;
    }
  }
  .comments-form__text-input {
    width: 100%;
    margin-bottom: 20px;
  }
  .product-items {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
}

@media (max-width: 480px) {
  .product-page {
    padding: 40px 0 0;
  }
  .related {
    padding: 50px 0 20px;
  }
  .product-tabs__top-item + .product-tabs__top-item {
    display: block;
    margin-left: 0;
  }
  .product-items {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 10px;
  }
}
