$maxWidth: 1920; // максимальная ширина страницы
$minWidth: 320; // минимальная ширина телефона
$maxWidthContainer: 1200; // ширина контейнера с учетом padding слева и справа
$containerWidth: 1200; // ширина контейнера из макета

$mainOffset: 15; // отступы безопасности для контейнера
$mainFont: " "; // указать здесь основное семейство шрифта

$headerHeight: 100;
$footerHeight: 100;

$mainColor: #8d8d8d;
$whiteColor: #fff;
$blackColor: #131313;
$grayColor: #6f6f6f;
$redColor: #fe3e57;
$titleColor: #29282d;
$bgCol: #f6f6f6;

$firstAccentColor: $blackColor;
$secondAccentColor: $redColor;

$mainFontFamily: $mainFont, sans-serif;
$fontColor: $blackColor;
$fontSize: rem(16);
$mainRadius: rem(10);

$standartTrans: all 280ms ease-in-out 0ms;
$btnBoxShadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);

$lightBoxShadow: 0 0 2px 0 rgba(#000, 10%), 0 0 4px 0 rgba(#000, 10%),
  0 0 8px 0 rgba(#000, 10%);

$hoverBoxShadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
  0 0 15px 0 rgba(#000, 10%);

%quicksand-400 {
  font-family: "Quicksand-Regular", sans-serif;
  font-weight: 400;
}

%quicksand-500 {
  font-family: "Quicksand-Medium", sans-serif;
  font-weight: 500;
}

%roboto-400 {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
}

%roboto-700 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}

%sevillana-400 {
  font-family: "Sevillana-Regular", sans-serif;
  font-weight: 400;
}

%rubikBubbles-400 {
  font-family: "RubikBubbles-Regular", sans-serif;
  font-weight: 400;
}

%btn {
  background-color: $redColor;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 26px;
  @extend %roboto-400;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
  &:hover {
    transform: scale(1.03);
    color: black;
    border-radius: 5px;
  }
  &:active {
    background: #e12841;
    transform: scale(0.9);
    border-radius: 5px;
  }
}

%checkbox-hidden,
%radio-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}
